{% extends 'templates/app.twig' %}

{% block content %}
    <div class="container">
        {{ listeInformation |raw }}

        <table class="table">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Name</th>
                <th scope="col">Price</th>
            </tr>
            </thead>
            <tbody>
            {{ listeItem |raw }}
            </tbody>
        </table>
    </div>

{% endblock %}