{% if flash.getMessage('success') %}
    <div class="alert alert-success d-flex align-items-center alert-dismissible fade show" role="alert">
        <i class="bi flex-shrink-0 me-2 fas fa-check-circle"></i>
        <div>
            {{ flash.getMessage('success') | first }}
        </div>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
{% endif %}

{% if flash.getMessage('error') %}
    <div class="alert alert-danger d-flex align-items-center alert-dismissible fade show" role="alert">
        <i class="bi flex-shrink-0 me-2 fas fa-exclamation-triangle"></i>
        <div>
            {{ flash.getMessage('error') | first }}
        </div>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
{% endif %}
